.container-fluid{
    margin: 0;
    display: flex;
    justify-content: center;
    align-itmes: center;
}
.card {
    background-color: #fff;
    min-width: 100%;
    min-height: 200px;
}
.card--content{
    background-color: #e74c3c;
    min-width: 200px;
    margin: 5px;
}
.site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
    color: #999;
    transition: ease-in-out color .15s;
}
.site-header a:hover {
    color: #fff;
    text-decoration: none;
}
.row {
    margin: 10em;
    display:inline-block;
    allign: center;
}
.align-right{
    align: right;
    text-align: right;
}
.col-md-6{
    padding-right: 5em;
    padding-left: 5em;
}
.display-block{
    display: block;
}
